body {
color:rgb(62, 38, 100);
background: black;
margin:0px;
}
header{
border-bottom: solid 2px rgb(112, 1, 38, 0.884);
}
header{
padding: 20px;
font-size: 32px;
color: rgb(112, 1, 38, 0.884);
}
